* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin-top: 15px;
	margin-bottom: 15px;
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ffffff;

}

.mainDiv {
	width: 900px;
	height: 600px;
	margin: 50px 50px 50px 50x;
	background: #ffffff;
	text-align: center;
	box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
				-5px -5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}
.buttonsDiv {
	position: relative;
	width: 900px;
	height: 100px;
	padding: 10px 10px 50px;
	background: #ffffff;
	margin-bottom: 50px;
	text-align: center;
	box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
	-5px -5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

tr {
	height: 50px;
}

.mainDiv h1 {
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 40px;
	margin-top: 30px;
}

.table {
	position: center;
	width: 800px;
	border-radius: 40px;
	text-align: center;

}


button {
	background-color: #00FF7F;
	text-align-all: center;
  	border: none;
  	color: white;
 	padding: 20px;
 	width: 200px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 10px 8px;
  	border-radius: 30px;
  	box-shadow: -3px -3px 8px rgba(0,0,0,0.25),
				4px 4px 12px rgba(0,0,0,0.05);
}

input {
	width: 90px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 20px;
	padding: 5px 15px;
	font-size: 18px;
	box-shadow: inset -3px -3px 8px rgba(0,0,0,0.01),
	inset 3px 3px 10px rgba(0,0,0,0.1);

}
a:link, a:visited  {
	text-decoration: none;
	color: black;
}