* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ffffff; 

}

.mainDiv {
	position: relative;
	width: 900px;
	height: 600px;
	padding: 40px 40px 60px;
	background: #ffffff;
	text-align: center;
	box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.15),
				-5px -5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.mainDiv h1 {
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 40px;
}

button {
	background-color: #00FF7F;
  	border: none;
  	color: white;
 	padding: 20px;
 	width: 250px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	border-radius: 30px;
  	box-shadow: -3px -3px 8px rgba(0,0,0,0.25),
				4px 4px 12px rgba(0,0,0,0.05);
}

a:link, a:visited  {
	text-decoration: none;
	color: black;
}