<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" th:href="@{/css/signup-style.css}"/>
</head>
<body>
    <form class="form" th:action="@{/register}" method="post">
    	<h2>Zarejestruj się</h2>
    	<div class="input">
    	<div class="inputBox">
        	<label>Imię</label>
        	<input type="text" name="firstName" required>
        </div>
        <div class="inputBox">
        	<label>Nazwisko</label>
        	<input  type="text" name="lastName" required>
        </div>
        <div class="inputBox">
        	<label>Płeć</label>
        	<input  type="text" name="sex" required>
        </div>
        <div class="inputBox">
        	<label>E-mail</label>
        	<input  type="text" name="email" required>
        </div>
        <div class="inputBox">
        	<label>Login</label>
        	<input  type="text" name="username" required>
       	</div>
       	<div class="inputBox">
        	<label>Hasło</label>
       		<input  type="password" name="password" required>
        </div>
        <div class="submitBox">
        	<input type="submit" value="Zarejestruj" required>
        </div>
        </div>
    </form>
</body>
</html>